body {
	margin: 0;
	font-family: Arial, sans-serif;
}

Header {
	background-color: #9966ff;
	color: #66ffff;
	width: 100%;
	overflow: hidden:
	padding: 20px 10px;
	text-align: center;
}

.top { 
	height: 3vh;
	text-align: center;
}

.bottom {
	height: 3vh;
	text-align: center;
}

.col {
	float: left;
	width: 33.33%;
	text-align: center;
}
